*, *::before, *::after {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Ubuntu', sans-serif;
  color: #333333;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 0.7rem;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 1000;
}

.title {
  font-size: 1.5rem;
  animation-name: fromLeft;
  animation-duration: 900ms;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

@keyframes fromLeft {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.download-resume-cont {
  display: block;
  text-decoration: none;
  width: 30%;
  max-width: 150px;
}

.download-resume {
  background-color: #6C45C4;
  color: #fff;
  padding: 0.65rem;
  outline: none;
  border: none;
  width: 100%;
  font-size: 0.8rem;
  letter-spacing: 0.5px;
  border-radius: 0.35rem;
  transition: 350ms;
  animation-name: shinkgrow;
  animation-duration: 1000ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.download-resume:hover {
  background-color: #5e38b2;
  box-shadow: 0 0 3px 0 rgba(51, 51, 51, 0.6);
  animation: none;
}

.download-resume:active {
  background-color: #6C45C4;
  box-shadow: 0 0 20px 0 rgba(51, 51, 51, 0.6);
}

@keyframes shinkgrow {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 5px rgba(51, 51, 51, 0.6);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 7px rgba(51, 51, 51, 0.6);
  }
}

@media screen and (min-width: 560px) {
  .navbar {
    padding: 1rem 1.3rem;
  }
  .title {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 900px) {
  .navbar {
    padding: 1rem 3.5rem;
  }
  .title {
    font-size: 2.2rem;
  }
  .download-resume {
    font-size: 1.2rem;
  }
}

.profile {
  margin-top: 4rem;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  overflow: hidden;
}

.bg-cont {
  margin-top: 3rem;
  width: 100%;
  height: 95vmin;
  position: relative;
  background-image: url(../../profile.jpg);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.bg-cont h1 {
  font-size: calc( 5vw + 1rem);
  color: #6C45C4;
  margin-bottom: 0.4rem;
}

.bg-cont span {
  color: #666666;
}

.center {
  text-align: center;
  display: block;
  text-transform: capitalize;
}

.center:first-child {
  margin-top: auto;
}

.right {
  margin-top: 2rem;
  padding: 1rem;
}

.info {
  display: none;
}

.right > p {
  margin-bottom: 1rem;
  line-height: 1.4rem;
}

.resume {
  background-color: #6C45C4;
  color: #fff;
  padding: 0.65rem;
  outline: none;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  border-radius: 0.3em;
  margin-bottom: 1rem;
}

.resume:hover {
  background-color: #5e38b2;
  box-shadow: 0 0 3px 0 rgba(51, 51, 51, 0.6);
  animation: none;
}

.resume:active {
  background-color: #6C45C4;
  box-shadow: 0 0 10px 0 rgba(51, 51, 51, 0.6);
}

@keyframes fade-in {
  0% {
    opacity: 0;
    display: none;
  }
  100% {
    opacity: 1;
  }
}

.foot-icons {
  list-style: none;
  display: flex;
  margin-bottom: 2rem;
  padding: 0.3rem;
  overflow: hidden;
}

.foot-icons .icon {
  flex: 1;
  text-align: center;
  color: #333333;
  font-size: 1.3rem;
  transition: 350ms;
}

.foot-icons .icon:hover {
  transform: scale(1.2);
  color: #6C45C4;
}

@media screen and (min-width: 660px) {
  .profile {
    flex-flow: row nowrap;
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
  }
  .bg-cont h1, .bg-cont span {
    display: none;
  }
  .left {
    flex-grow: 2.3;
    max-width: 690px;
  }
  .right {
    display: flex;
    flex: 1;
    justify-content: center;
    flex-flow: column;
  }
  .right .info {
    display: block;
    margin-bottom: 1.5rem;
  }
  .right .info .center {
    text-align: left;
  }
  .right .info h1 {
    font-size: calc( 2.4vw + 1rem);
    letter-spacing: -2px;
    margin-bottom: 0.5rem;
  }
  .right .info span {
    line-height: 1.4rem;
    font-size: 1.2rem;
  }
  .resume {
    width: 15vw;
  }
  .right > p {
    line-height: 150%;
    font-size: 1.2rem;
  }
  .foot-icons {
    margin-top: 1rem;
    width: 100%;
    overflow: visible;
    padding: 0;
  }
  .hidden {
    display: none;
  }
}

.container {
  position: relative;
  padding: 0.5rem;
}
